<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI24_KVO_NSNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49BE75361C4730DF007B37D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BE754F1C4730DF007B37D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BE755A1C4730DF007B37D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
